<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css')}}" />

	<title>Ressolve</title>
</head>
<body>
<div class=" container request">
	<h1>Request 1</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo laudantium, modi ut. Exercitationem officia minus quisquam nobis dicta ad, fuga sint numquam amet voluptas provident nam at ipsum harum commodi.</p>
	<button class="btn-primary">Resolve</button>
</div>
</body>
</html>